/*Color del fondo de la pagina principal*/
body {
    background: #162944;
}
/*Titulo de la pagina*/
h1 {
    text-align: center;
    
    font-family: "Lucida Console",
    Monaco,
    monospace;
    font-size:50px;
    font-weight: 400;
    color: rgb(196, 24, 153);
    margin: 1em 5em;
    margin-bottom: 2.5em;


}
/*CSS de los botones*/
.button{
    position: relative;
    grid-auto-flow: initial;
    text-align: center;
}
.button_slide {
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 30px;
    padding: 18px 36px;
    display: flex;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
}

.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #D80286;
    border-radius: 60px;
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
    border-radius: 60px;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px #D80286;
    border-radius: 60px;
}

.slide_diagonal:hover {
    box-shadow: inset 400px 50px 0 0 #D80286;
    border-radius: 60px;
}

#outer {
    width: 10px;
    margin: 20px auto 0 auto;
    text-align: center;
    
}
@media (min-width: 500px) {
  .button {
    grid-auto-flow:initial;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
  }
}
/*CSS del footer*/
ul {
  justify-content: center;
  align-items: center;
  list-style: none;
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: bottom;
  margin: auto;
}
      
      @media (min-width: 500px) {
        ul {
          grid-auto-flow: column;
        }
      }
      
      a {
        color: white;
        text-decoration: none;
        box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
      }
      
      a:hover {
        box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
      }
      
      li:last-child {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        text-align: center;
        height: 50px;
        width: 98%;
        background-color: #162944;
        font-family: Menlo, monospace;
      }
    