body {
    height: auto;
    background: #162944;
}
h1 {
    text-align: center;
    
    font-family: "Lucida Console",
    Monaco,
    monospace;
    font-size:50px;
    font-weight: 400;
    color: rgb(196, 24, 153);
    margin: 1em 5em;
    margin-bottom: 2.5em;


}
.button{
    position: relative;
    top: 100px;
}
.button_slide {
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 30px;
    padding: 18px 36px;
    display: flex;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
}

.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #D80286;
    border-radius: 60px;
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
    border-radius: 60px;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px #D80286;
    border-radius: 60px;
}

.slide_diagonal:hover {
    box-shadow: inset 400px 50px 0 0 #D80286;
    border-radius: 60px;
}

#outer {
    width: 10px;
    margin: 20px auto 0 auto;
    text-align: center;
    
}